*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aliceblue;
}
:root
{
    --padding:10px;
    --blur:0px;
    --base:rgb(255,133,0);
    --width:55%;
    --border-radius:15px;


}
.container
{
    background: linear-gradient(to right,#1d2b64,#61045f);
    padding: 2rem 3rem;
    box-shadow: 10px 10px 10px rgba(246,178,172,0.2),-10px 10px 30px rgba(255,107,107,0.8);
    border-radius: 20px;

}
h1
{
    color: aliceblue;
    margin: 20px 0px;

}
.heading
{
    font-size: 2rem;
    color:var(--base);
    margin-bottom: 20px;
}
.css-container{
    display:flex ;
    flex-direction: column;
    align-items: start;
    padding: 0.5rem 0;
}
img
{
    width: var(--width);
    height: 80%;
    margin-top: 20px;
    padding: var(--padding);
    filter: blur(var(--blur));
    background-color: var(--base);
    border-radius: var(--border-radius);
    transition: filter 0.3s ease, background-color 0.3s ease;

}
input[type="color"]
{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 10px;
    border: none;
    outline: none;
    cursor: pointer;padding: 0;


}

label
{
    color: aliceblue;
    padding: 10px;
    font-size: 20px;
}

input[type="range"]
{
    width: 100%;
    color: brown;
}